<div id="content">

<!-- Box -->
<div class="box">
  <!-- Box Head -->
  <div class="box-head">
    <h2 class="left">Current Articles</h2>
    <div class="right">
      <label>search articles</label>
      <input type="text" class="field small-field" />
      <input type="submit" class="button" value="search" />
    </div>
  </div>
  <!-- End Box Head -->

  <!-- Table -->
  <div class="table">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th width="13"><input type="checkbox" class="checkbox" /></th>
        <th>Title</th>
        <th>Date</th>
        <th>Added by</th>
        <th width="110" class="ac">Content Control</th>
      </tr>

      <%
        if !@products.empty?
          @products.each do |item|
      %>
      <tr>
        <td><input type="checkbox" class="checkbox" /></td>
        <td><h3><a href="#"><%= item.name %></a></h3></td>
        <td><%= item.create_at %></td>
        <td><a href="#">Administrator</a></td>
        <td><a href="#" class="ico del">Delete</a><a href="#" class="ico edit">Edit</a></td>
      </tr>
      <% end
         else
      %>
        <tr>
          <td colspan="5">No Data</td>
        </tr>
      <%
        end
      %>
    </table>


    <!-- Pagging -->
    <div class="pagging">
      <div class="left">Showing 1-12 of 44</div>
      <div class="right">
        <a href="#">Previous</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">245</a>
        <span>...</span>
        <a href="#">Next</a>
        <a href="#">View all</a>
      </div>
    </div>
    <!-- End Pagging -->

  </div>
  <!-- Table -->

</div>
<!-- End Box -->

<!-- Box -->
<div class="box">
  <!-- Box Head -->
  <div class="box-head">
    <h2>Add New Article</h2>
  </div>
  <!-- End Box Head -->

  <%= form_tag('/product') do -%>

    <!-- Form -->
    <div class="form">
      <p>
        <%= 'Name' %>
        <%= text_field_tag 'name',nil,class: 'field size1' %>
      </p>

      <p>
        <%= 'Price' %>
        <%= text_field_tag 'Price',nil,class: 'field size1' %>
      </p>

      <p>
        <%= 'Description' %>
        <%= text_area_tag 'description',nil,class: 'field size1' %>
      </p>

    </div>
    <!-- End Form -->

    <!-- Form Buttons -->
    <div class="buttons">
      <%= submit_tag 'Submit',class: 'button' %>
    </div>
    <!-- End Form Buttons -->
  <% end -%>
</div>
<!-- End Box -->

</div>
<!-- End Content -->